body {
    @apply bg-bgGradient font-inter m-0;
    min-width: 375px;
    background-blend-mode: screen;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
